<.header>
  Pengguna {@user.id}
  <:subtitle>Rekod Pengguna di dalam Database Anda.</:subtitle>
  <:actions>
    <.link patch={~p"/users/#{@user}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit Pengguna</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Nama">{@user.name}</:item>
  <:item title="Umur">{@user.age}</:item>
  <:item title="gender">{@user.gender}</:item>
  <:item title="Category">{@user.category}</:item>

</.list>

<.back navigate={~p"/users"}>Senarai Utama</.back>

<.modal :if={@live_action == :edit} id="user-modal" show on_cancel={JS.patch(~p"/users/#{@user}")}>
  <.live_component
    module={TestAppWeb.UserLive.FormComponent}
    id={@user.id}
    title={@page_title}
    action={@live_action}
    user={@user}
    patch={~p"/users/#{@user}"}
  />
</.modal>
